<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xiaolong.spider.dao.DatabaseMapper">


    <insert id="saveChinaDayAdd" parameterType="java.util.List">
        insert into china_day_add(localConfirmadd,
                                  deadRate,
                                  healRate,
                                  date,
                                  dead,
                                  heal,
                                  infect,
                                  localinfectionadd,
                                  confirm,
                                  suspect,
                                  importedCase,
                                  y) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.localConfirmadd},
            #{item.deadRate},
            #{item.healRate},
            #{item.date},
            #{item.dead},
            #{item.heal},
            #{item.infect},
            #{item.localinfectionadd},
            #{item.confirm},
            #{item.suspect},
            #{item.importedCase},
            #{item.y}
            )
        </foreach>

    </insert>
    <!--    插入一系列的chainDay数据-->
    <insert id="saveChinaDay" parameterType="java.util.List">
        insert into china_day(
                nowConfirm,
                y,
                confirm,
                deadRate,
                date,
                localConfirm,
                localConfirmH5,
                nowSevere,
                noInfect,
                suspect,
                heal,
                importedCase,
                healRate,
                noInfectH5,
                localAccConfirm,
                dead
                ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.nowConfirm},
            #{item.y},
            #{item.confirm},
            #{item.deadRate},
            #{item.date},
            #{item.localConfirm},
            #{item.localConfirmH5},
            #{item.nowSevere},
            #{item.noInfect},
            #{item.suspect},
            #{item.heal},
            #{item.importedCase},
            #{item.healRate},
            #{item.noInfectH5},
            #{item.localAccConfirm},
            #{item.dead}
            )
        </foreach>
    </insert>

    <insert id="saveNowConfirmStatis" parameterType="java.util.List">

    </insert>

    <insert id="saveProvinceCompare">
    </insert>


    <insert id="saveForeignData" parameterType="java.util.List">
        insert into foreign_country(
                name,
                continent,
                y,
                date,
                isUpdated,
                confirmAdd,
                confirmAddCut,
                confirm,
                suspect,
                dead,
                heal,
                nowConfirm,
                confirmCompare,
                nowConfirmCompare,
                healCompare,
                deadCompare) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.name},
            #{item.continent},
            #{item.y},
            #{item.date},
            #{item.isUpdated},
            #{item.confirm},
            #{item.confirmAddCut},
            #{item.confirm},
            #{item.suspect},
            #{item.dead},
            #{item.heal},
            #{item.nowConfirm},
            #{item.confirmCompare},
            #{item.nowConfirmCompare},
            #{item.healCompare},
            #{item.deadCompare}
            )
        </foreach>
    </insert>

    <insert id="saveForeignProvince" parameterType="java.util.List">
        insert  into foreign_province(
                name,
                date,
                nameMap,
                isUpdated,
                confirmAdd,
                confirmAddCut,
                confirm,
                suspect,
                dead,
                heal,
                country
                ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.name},
            #{item.date},
            #{item.nameMap},
            #{item.isUpdated},
            #{item.confirmAdd},
            #{item.confirmAddCut},
            #{item.confirm},
            #{item.suspect},
            #{item.dead},
            #{item.heal},
            #{item.country}
            )
        </foreach>
    </insert>

    <insert id="saveWomAboard" parameterType="java.util.List">
        insert into wom_aboard(
                continent,
                name,
                confirm,
                confirmAdd,
                dead,
                deadCompare,
                heal,
                healCompare,
                pubDate,
                y,
                date,
                nowConfirm,
                nowConfirmCompare,
                confirmAddCut,
                suspect,
                confirmCompare
        ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.continent},
            #{item.name},
            #{item.confirm},
            #{item.confirmAdd},
            #{item.dead},
            #{item.deadCompare},
            #{item.heal},
            #{item.healCompare},
            #{item.pubDate},
            #{item.y},
            #{item.date},
            #{item.nowConfirm},
            #{item.nowConfirmCompare},
            #{item.confirmAddCut},
            #{item.suspect},
            #{item.confirmCompare}
            )
        </foreach>
    </insert>

    <insert id="saveWomWorld" parameterType="java.util.List">
        insert into wom_world(
                pubDate,
                y,
                date,
                nowConfirm ,
                nowConfirmAdd,
                confirm,
                confirmAdd,
                heal,
                healAdd,
                dead,
                deadAdd,
                deathrate,
                curerate,
                lastUpdateTime
                ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.pubDate},
            #{item.y},
            #{item.date},
            #{item.nowConfirm},
            #{item.nowConfirmAdd},
            #{item.confirm},
            #{item.confirmAdd},
            #{item.heal},
            #{item.healAdd},
            #{item.dead},
            #{item.deadAdd},
            #{item.deathrate},
            #{item.curerate},
            #{item.lastUpdateTime}
            )
        </foreach>
    </insert>
    <delete id="deleteTable" parameterType="java.lang.String">
        truncate table ${tableName}
    </delete>

    <insert id="saveDataFromDataCdcGov" parameterType="java.util.List">
        insert into covid19_deaths(
                dataAsOf,
                startDate,
                endDate,
                `group`,
                state,
                sex,
                ageGroup,
                covid19Deaths,
                totalDeaths,
                pneumoniaDeaths,
                pneumoniaAndCovid19Deaths,
                influenzaDeaths,
                pneumoniaInfluenzaOrCovid) values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.dataAsOf},
            #{item.startDate},
            #{item.endDate},
            #{item.group},
            #{item.state},
            #{item.sex},
            #{item.ageGroup},
            #{item.covid19Deaths},
            #{item.totalDeaths},
            #{item.totalDeaths},
            #{item.pneumoniaAndCovid19Deaths},
            #{item.influenzaDeaths},
            #{item.pneumoniaInfluenzaOrCovid}
            )
        </foreach>
    </insert>
</mapper>