<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xiaolong.homework.dao.AmericaMapper">

    <resultMap id="americaMap" type="com.xiaolong.homework.bean.Covid19Death">
        <result column="dataAsOf" property="dataAsOf"/>
        <result column="startDate" property="startDate"/>
        <result column="endDate" property="endDate"/>
        <result column="group" property="group"/>
        <result column="state" property="state"/>
        <result column="sex" property="sex"/>
        <result column="ageGroup" property="ageGroup"/>
        <result column="covid19Deaths" property="covid19Deaths"/>
        <result column="totalDeaths" property="totalDeaths"/>
        <result column="pneumoniaDeaths" property="pneumoniaDeaths"/>
        <result column="pneumoniaAndCovid19Deaths" property="pneumoniaAndCovid19Deaths"/>
        <result column="influenzaDeaths" property="influenzaDeaths"/>
        <result column="pneumoniaInfluenzaOrCovid" property="pneumoniaInfluenzaOrCovid"/>
    </resultMap>

    <select id="query" parameterType="com.xiaolong.homework.bean.bo.QueryAmericaDeadBo" resultType="com.xiaolong.homework.bean.Covid19Death" resultMap="americaMap">
        select
                ageGroup,
                state,
                sex,
                covid19Deaths,
                totalDeaths,
                pneumoniaDeaths,
                pneumoniaAndCovid19Deaths,
                pneumoniaAndCovid19Deaths,
                influenzaDeaths,
                pneumoniaInfluenzaOrCovid
        from covid19_deaths
        where
            1=1
            <if test="queryAmericaDeadBo != null and queryAmericaDeadBo.dataAsOf != null">
                AND dataAsOf=#{queryAmericaDeadBo.dataAsOf}
            </if>
            <if test="queryAmericaDeadBo != null and queryAmericaDeadBo.startDate != null">
                AND startDate=#{queryAmericaDeadBo.startDate}
            </if>
            <if test="queryAmericaDeadBo != null and queryAmericaDeadBo.endDate != null">
                AND endDate=#{queryAmericaDeadBo.endDate}
            </if>
            <if test="queryAmericaDeadBo != null and queryAmericaDeadBo.ageGroup != null">
                AND ageGroup=#{queryAmericaDeadBo.ageGroup}
            </if>
            <if test="queryAmericaDeadBo != null and queryAmericaDeadBo.state != null ">
                AND state=#{queryAmericaDeadBo.state}
            </if>
            <if test="queryAmericaDeadBo != null and queryAmericaDeadBo.sex != null">
                AND sex=#{queryAmericaDeadBo.sex}
            </if>
            <if test="queryAmericaDeadBo != null and queryAmericaDeadBo.group != null">
                AND `group`=#{queryAmericaDeadBo.group}
            </if>
        limit 100
    </select>
    <select id="queryRegion" resultType="com.xiaolong.homework.bean.bo.CountryDeathsByRegion">
        select
            `name`,
            `date`,
            nameMap,
            confirm,
            dead,
            heal
        from foreign_province

        where 1=1
        <if test="queryAmericaDeadRegionBo != null and queryAmericaDeadRegionBo.country != null">
            AND country=#{queryAmericaDeadRegionBo.country}
        </if>
        <if test="queryAmericaDeadRegionBo != null and queryAmericaDeadRegionBo.date != null ">
            AND `date`=#{queryAmericaDeadRegionBo.date}
        </if>
        <if test="queryAmericaDeadRegionBo != null and queryAmericaDeadRegionBo.name != null ">
            AND `name`=#{queryAmericaDeadRegionBo.name}
        </if>
        <if test="queryAmericaDeadRegionBo != null and queryAmericaDeadRegionBo.nameMap != null ">
            AND `nameMap`=#{queryAmericaDeadRegionBo.nameMap}
        </if>


    </select>
</mapper>